<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table">
            <thead>
                <tr>
                    {{#each properties as |property|}}
                        <th>{{property}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{#each properties as |property|}}
                        <td>{{get model property}}</td>
                    {{/each}}
                </tr>
            </tbody>
        </table>
    </div>
</div>