<div class="col-md-12">
    <table class="table">
        <thead>
        <tr>
            {{#each properties as |property|}}
                <th>{{property}}</th>
            {{/each}}
        </tr>
        </thead>
        <tbody>
        {{#each models as |model|}}
            <tr>
                {{#each properties as |property|}}
                    <td>{{get model property}}</td>
                {{/each}}
                <td>{{#link-to 'students.edit' model}}
                    {{t 'student.buttons.edit'}}
                {{/link-to}}</td>
                <td>{{#link-to 'students.delete' model}}
                    {{t 'student.buttons.delete'}}
                {{/link-to}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
