<div class="col-md-12">
    <table class="table">
        <thead>
        <tr>
            {{#each properties as |property|}}
                <th>{{property}}</th>
            {{/each}}
        </tr>
        </thead>
        <tbody>
        {{#each models as |model|}}
            <tr>
                {{#each properties as |property|}}
                    <td>{{get model property}}</td>
                {{/each}}
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
