<div class="row">
    <div class="col-md-4 offset-4 border border-box">
        <h4 class="h4">{{t "a.edit"}}</h4>
        {{create-one model=model properties=modelProperties}}
    </div>
</div>
{{outlet}}