<div class="row" style="margin-top: 30px;">
    <div class="col-md-10 offset-1">
        {{#link-to 'students.create' class="btn btn-info"}}
            {{t "student.buttons.create"}}
        {{/link-to}}
    </div>
</div>
{{outlet}}
<div class="row" style="margin-top: 30px">
    <div class="col-md-10 offset-1">
        <h4 class="h4">{{t 'student.index.heading'}}</h4>
        {{view-all models=model properties=modelProperties}}
    </div>
</div>